body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000;
}

.splash {
  height: 100vh;
  background: url('../../assets/icons/splash-image.jpeg') no-repeat center center;
  background-size: cover;
  position: relative;
}

.splash-content {
  position: absolute;
  bottom: 2cm;
  left: 1cm;
  right: 1cm;
  display: flex;
  justify-content: center;
}

.start-button {
  padding: 14px 32px;
  font-size: 18px;
  color: #000;
  background-color: #d4af37;
  border-radius: 8px;
  text-decoration: none;
  border: none;
}
